main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

main .photos {
  flex: 0 0 66%;
  overflow-y: auto;
}

main .photos .photo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 120px;
  min-width: 0;
}

main .photos .photo img {
  max-width: 120px;
  max-height: 120px;
}

main .photos .photo span {
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

main .chat {
  background-color: #444;
  display: flex;
  flex-direction: column;
  flex: 0 0 34%;
}

main .chat .message-list {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 10px;
}

main .chat .message-list::-webkit-scrollbar {
  width: 5px;
}

main .chat .message-list::-webkit-scrollbar-track {
  background: #444;
}

main .chat .message-list::-webkit-scrollbar-thumb {
  background: #666;
}

main .chat .message-list .message {
  display: flex;
}

main .chat .message-list .nick {
  color: #7676b7;
  flex: 0 0 auto;
  margin-right: 5px;
  max-width: 80px;
  overflow: hidden;
}

main .chat .message-list .text {
  word-break: break-word;
}

main .chat .message-list .nick:before {
  content: '['
}

main .chat .message-list .nick:after {
  content: ']'
}

main .chat .message-list .nick:before,
main .chat .message-list .nick:after {
  color: #181892;
  user-select: none;
}

main .chat form {
  align-items: stretch;
  display: flex;
  flex: 0 0 auto;
  height: 30px;
  width: 100%;
}

main .chat form input[name=msg] {
  flex: 1 1 100%;
}

main .chat form input[name=msg]:focus {
  outline: 0;
  box-shadow: none;
}

main .chat form input[type=file] {
  display: none;
}

main .chat form label {
  display: flex;
}

main .chat form label .button,
main .chat form button {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
  padding: 1px 6px;
}

main .chat form label .button {
  line-height: 23px;
}
